<app-nav-menu [type]="'default'"></app-nav-menu>
<main class="container main-documents">
    <div class="banner">
        <img src="../../../assets/banner.svg" alt="banner" class="banner__image">
    </div>
    <div class="content">
        <div class="content__header">
            <div class="content__header-top">
                <span class="content__header-date">Semana 06/02 até 28/02</span>
                <img src="../../../assets/left-arrow.svg" alt="left-arrow" class="icon-period">
                <img src="../../../assets/right-arrow.svg" alt="right-arrow" class="icon-period">
            </div>
            <div class="content__header-bottom">
                <h2 class="content__header-title">Material didático</h2>
                <p class="content__header-description">Acesse suas últimas apresentações de aula.</p>
            </div>
        </div>
        <div class="content__button-container">
            <button class="content__button">Ver todo conteúdo</button>
        </div>
        <ul class="content__list">
            <li class="content__list-item">
                <img src="" alt="" class="content__list-image">
                <p class="content__list-text">Aula 1: Fono-ortografia</p>
            </li>
        </ul>
    </div>
</main>
