<app-nav-menu [type]="'dark'"></app-nav-menu>
<main class="container main">
    <div class="main__content">
        <div class="main__content--group">
            <div class="main__content--title">
                <h2>Material didático</h2>
                <span class="span--blue"></span>
            </div>
            <img src="../../../assets/documents_icon.svg" alt="">
        </div>
        <div class="main__content--group">
            <div class="main__content--title">
                <h2>Quiz</h2>
                <span class="span--green"></span>
            </div>
            <img src="../../../assets/quiz_icon.svg" alt="">
        </div>
        <div class="main__content--group">
            <div class="main__content--title">
                <h2>Material didático</h2>
                <span class="span--pink"></span>
            </div>
            <img src="../../../assets/drawn_icon.svg" alt="">
        </div>
        <div class="main__content--group">
            <div class="main__content--title">
                <h2>Material didático</h2>
                <span class="span--pink"></span>
            </div>
            <img src="../../../assets/youtube_icon.svg" alt="">
        </div>
    </div>
</main>
<router-outlet></router-outlet>

