<nav [class.dark-theme]="type === 'dark'">
    <div class="container nav__content">
      <img
        [src]="type === 'dark' ? '../../../assets/logo-green-white.svg' : '../../../assets/logo-green-dark.svg'"
        alt="Logo"
        class="nav__logo"
      >
      <div class="nav__group">
        <button *ngIf="type !== 'dark'" class="nav__button" (click)="goToHome()">
          <img src="../../../assets/icon-back.svg" alt="ícone de voltar" class="">
            Trocar de ambiente
        </button>
        <div class="nav__left-content">
            <div class="nav__date">
              <img [src]="type === 'dark' ? '../../../assets/icon-calendar-white.svg' : '../../../assets/icon-calendar.svg'" alt="ícone de calendário">
              <p>{{ currentDate }}</p>
            </div>
            <span class="nav__separator">|</span>
            <img [src]="type === 'dark' ? '../../../assets/icon-bell-white.svg' : '../../../assets/icon-bell.svg'" alt="ícone de notificações" class="nav__icon">
            <span class="nav__separator">|</span>
            <div class="nav__avatar" (click)="toggleMenu()">
              <img [src]="setUser()" alt="Avatar do usuário" class="nav__avatar--img">
              <img [src]="type === 'dark' ? '../../../assets/icon-down-white.svg' : '../../../assets/icon-down.svg'" alt="abrir menu" class="nav__icon--menu">
            </div>
        </div>
        <div class="nav__menu-dropdown" [ngClass]="{ visible: isMenuVisible }">
          <p class="nav__menu-dropdown--title">Sua Conta</p>
          <a class="nav__menu-dropdown--links" href="">Perfil</a>
          <a class="nav__menu-dropdown--links" href="">Suporte</a>
          <button class="nav__menu-dropdown--button" (click)="logout()">Sair da conta</button>
        </div>
      </div>
    </div>
  </nav>
